'context-menu':
  'atom-text-editor': [
    {
      'label': 'Insert Snowflake Hash'
      'command': 'atom-snowflake-css:insertHash'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-snowflake-css'
      'submenu': [
        {
          'label': 'Insert Snowflake Hash'
          'command': 'atom-snowflake-css:insertHash'
        }
      ]
    ]
  }
]
